{% load static %}
<html>
    <head>
        <title>DATABASE</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/work.css' %}">
    </head>
    <body>
     <header>
         {% block content5 %}

    {% endblock %}
         <h1 style="text-align: center" >Dina's HW2</h1>
  </header>

     <div style="height:300px;width:150px;
    border:1px solid #ccc;font:16px/26px Georgia, Garamond,
    Serif;overflow:auto;float: left; margin-top: 60px">
     <table class="table">
         <tr>
             <td><a href="http://127.0.0.1:8000/country_base">Country</a></td>
         </tr>
         <tr>
            <td><a href="http://127.0.0.1:8000/disease_base">DiseaseType</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/disease2_base">Disease</a></td>
         </tr>
         <tr>
            <td><a href="http://127.0.0.1:8000/discover_base">Discover</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/Users_base">Users</a></td>
         </tr>
         <tr>
             <td><a href="http://127.0.0.1:8000/Publicservant_base">PublicServant</a></td>
         </tr>
         <tr>
             <td><a href="http://127.0.0.1:8000/Doctor_base">Doctor</a></td>
         </tr>
         <tr>
             <td><a href="http://127.0.0.1:8000/Specialize_base">Specialize</a></td>
         </tr>
         <tr>
             <td><a href="http://127.0.0.1:8000/Record_base">Record</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/q1">q1</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/q2">q2</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/q3">q3</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/q4">q4</a></td>
         </tr>
          <tr>
             <td><a href="http://127.0.0.1:8000/q5">q5</a></td>
         </tr>




     </table>
    </div>



 {% block content3 %}
            {% endblock %}





   <!-- <div class="content container">
        <div class="row">
            <div class="col-md-8">
            -->
     <div style=" margin-left:200px">


            <table class="table">
            {% block content2 %}
            {% endblock %}

            {% block content %}
            {% endblock %}
              </table>
     {% block content4 %}
        {% endblock %}

     <!--
            </div>
        </div>
    </div>
    -->
    </div>

</body>
</html>