{% extends 'work/base.html' %}
{% block content5 %}

 <a href="{% url 'P_' %}" class="top-menu"><span
         class="glyphicon glyphicon-plus"></span></a>

{% endblock %}
{% block content3 %} <tr>
        <h1 style="text-align: center">
        PUBLICSERVANT
        </h1>

            {% endblock %}

{% block content2 %} <tr>
         <td>Email</td>
        <td>Department</td>

         </tr>

            {% endblock %}

{% block content %}
    {% for post in posts %}
        <tr>
            <td>{{ post.email_id}}</td>
        <td>{{ post.department}}</td>

        </tr>
    {% endfor %}
{% endblock %}