{% extends 'work/base.html' %}
{% block content5 %}

 <a href="{% url 'U_' %}" class="top-menu"><span
         class="glyphicon glyphicon-plus"></span></a>

{% endblock %}

{% block content3 %} <tr>
        <h1 style="text-align: center">
        USERS
        </h1>

            {% endblock %}

{% block content2 %} <tr>
         <td>Email</td>
        <td>Country</td>
 <td>Name</td>
<td>Phone</td>
<td>Salary</td>
         </tr>

            {% endblock %}
{% block content %}
    {% for post in posts %}
        <tr>
            <td>{{ post.email_id }}</td>
        <td>{{ post.cname}}</td>
        <td>{{ post.name}}</td>
        <td>{{ post.phone}}</td>
        <td>{{ post.salary}}</td>
        </tr>
    {% endfor %}
{% endblock %}